/*************************************************
**************************************************

website name:   nguyen.c
website url: 
website Author: nguyen chau
copyright 2022. all rights reserved.


style guide
***************
0.  variable css
1.  css reset & universal styles
2.  components

3.  navigation bar
4.  home section
5.  about section
6.  gallery section
7.  contact section

8.  responsive styles
*************************************************
************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&display=swap");

/*----------------------------------------------
------------------------------------------------
    0.  variable css
------------------------------------------------
----------------------------------------------*/
:root {
  /* colors */
  --clr-dark: #000000;
  --clr-light: #ffffff;
  --clr-gray: #d1d1d1;
  --clr-theme: #001aff;

  /* font-family */
  --font-main: "Poppins", sans-serif;
  --font-barcode: "Libre Barcode 128 Text", cursive;

  /* font-size */
  --fs-text-xs: 0.625rem;
  --fs-text-s: 0.8rem;
  --fs-text-m: 1rem;
  --fs-text-l: 1.25rem;
  --fs-text-xl: 1.562rem;
  --fs-text-xxl: 1.938rem;

  --fs-hugetext-s: 2.438rem;
  --fs-hugetext-m: 3.062rem;
  --fs-hugetext-l: 3.812rem;

  /* z index */
  --z-low: -10;
  --z-high: 10;

  /* margin bottom */
  --mb-text: 1rem;
  --mb-container: 2rem;
  --mb-section: 4rem;
}
/*----------------------------------------------
------------------------------------------------
    1.  css reset & universal styles
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--fs-text-s);
  font-weight: 400;
  font-family: var(--font-main);

  color: var(--clr-dark);
  background-color: var(--clr-light);

  letter-spacing: 1px;
  line-height: 1.875;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  width: 100%;

  display: flex;
  justify-content: center;
}
.flex__center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*----------------------------------------------
------------------------------------------------
    2.  components
------------------------------------------------
----------------------------------------------*/
.section__container {
  margin-top: 40px;
  width: 360px;
}
i {
  font-size: 24px;
}
.label__header {
  border-top: 2px solid var(--clr-dark);
  width: 360px;
  height: 32px;
  margin-bottom: 10px;
}
.label__header-text {
  width: 100px;
  height: 100%;
  color: var(--clr-light);
  background-color: var(--clr-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}
.label__body-bigText {
  font-size: var(--fs-hugetext-s);
}
/*----------------------------------------------
------------------------------------------------
    3.  navigation bar
------------------------------------------------
----------------------------------------------*/
.nav__bar {
  position: fixed;
  z-index: var(--z-high);
  bottom: 0;
  padding-bottom: 20px;

  width: 360px;
  height: 58px;
  border-top: 2px solid var(--clr-dark);
  background-color: var(--clr-light);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__link {
  padding: 0 10px;
  height: 100%;
}
.nav__name {
  color: var(--clr-dark);
}
.nav__link-active {
  background-color: var(--clr-dark);
}
.nav__link-active .nav__name {
  color: var(--clr-light);
}

/*----- Hamburger menu -----*/
.nav__toggle {
  cursor: pointer;
}
.icon__nav-close {
  display: none;
}
.nav__menu {
  position: fixed;
  z-index: var(--z-high);
  top: 40px;
  bottom: 80px;
  transform: translateY(-150%);

  width: 360px;
  padding: 5px;
  background-color: var(--clr-dark);
  transition: transform 0.45s;
}
.nav__menu-show {
  transform: translateY(0);
}
.nav__menu-img {
  height: 100%;
  display: flex;
  justify-content: center;
}
.nav-menu-img img {
  height: 100%;
  object-fit: cover;
}
.nav__menu-container {
  position: absolute;
  z-index: 100;
  bottom: 60px;
  padding-left: 24px;
}
.nav__menu-link {
  margin-top: 32px;
}
.nav__menu-name {
  font-size: var(--fs-text-m);
  color: var(--clr-dark);
}
/*----------------------------------------------
------------------------------------------------
    4.  home section
------------------------------------------------
----------------------------------------------*/
.home__section {
  margin-bottom: 4rem;
}

/*----- home info section 1 -----*/
.home__info {
  margin-bottom: 1.5rem;
  overflow: hidden;
}
.home__info .label__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.info__body {
  height: 0;
  width: 320px;
  transition: 0.4s ease;
}
.home__info-show .info__body {
  height: 350px;
}
.info__header .icon__info {
  cursor: pointer;
}
.about_special-info {
  display: flex;
}
.tab_space {
  width: 104px;
  margin: 2px 20px 2px 40px;
}

/*----- home info section 2 -----*/
.home__connect {
  width: 360px;
}
.connect__body {
  width: 100%;
  height: 240px;
  margin-top: 20px;
  border: 2px solid var(--clr-dark);
  border-top: 24px solid var(--clr-dark);
}
.connect__img-container {
  width: 70%;
  height: 160px;

  border: 1px solid var(--clr-dark);
  margin-right: 16px;
}
.connect__socialmedia-container {
  width: 40px;
  height: 160px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.socialmedia__link {
  width: 100%;
  height: 40px;
}
.socialmedia__text {
  display: none;
}
.home__hugeimg-container {
  display: none;
}
/*----------------------------------------------
------------------------------------------------
    5.  about section
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
    6.  gallery section
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
    7.  contact section
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
    8.  responsive styles
------------------------------------------------
----------------------------------------------*/
@media screen and (min-width: 880px) {
  /*----- home section -----*/
  .home__section {
    width: 100%;
    display: grid;
    grid-template-areas:
      "about experience"
      "connect position";
    margin: 40px;
    gap: 40px 0;
  }
  .home__about {
    grid-area: about;
  }
  .home__experience {
    grid-area: experience;
    justify-self: flex-end;
  }
  .home__position {
    grid-area: position;
    justify-self: flex-end;
  }
  .home__connect {
    grid-area: connect;
  }
  .info__body {
    height: 350px;
  }
  .icon__info {
    display: none;
  }
  /* .nav__bar {
    left: 40px;
  } */
}

@media screen and (min-width: 1150px) {
  /*----- home section -----*/
  .home__section {
    grid-template-areas:
      "about    hugeimg     experience"
      "connect  hugeimg     position";
  }
  .home__hugeimg-container {
    grid-area: hugeimg;
    display: block;
    height: 820px;
    width: 80%;
    justify-self: center;

    padding: 2px;
    background-color: var(--clr-dark);
    transition: transform 0.45s;

    display: flex;
    justify-content: center;
  }
  .home__hugeimg-container img {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1250px) {
  /*----- home section -----*/
  .home__section {
    margin: 40px 60px;
  }
  .home__hugeimg-container {
    width: 360px;
  }
}

@media screen and (min-width: 1450px) {
  /*----- home section -----*/
  .home__section {
    margin: 40px 100px;
  }
}
