/*************************************************
**************************************************

website name:   nguyen.c
website url: 
website Author: nguyen chau
copyright 2022. all rights reserved.


style guide
***************
0.  variable css
1.  css reset & universal styles
2.  components

3.  navigation bar
4.  home section
5.  about section
6.  gallery section
7.  contact section

8.  responsive styles
*************************************************
************************************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*----------------------------------------------
------------------------------------------------
    0.  variable css
------------------------------------------------
----------------------------------------------*/
:root {
  /* colors */
  --clr-dark: #000000;
  --clr-light: #fff;
  --clr-gray: #d1d1d1;
  --clr-theme: orangered;
  /* --clr-theme: #be3455; */

  /* font-family */
  --font-main: "Poppins", sans-serif;

  /* font-size */
  --fs-text-xs: 0.625rem;
  --fs-text-s: 0.8rem;
  --fs-text-m: 1rem;
  --fs-text-l: 1.25rem;
  --fs-text-xl: 1.562rem;
  --fs-text-xxl: 1.938rem;

  --fs-hugetext-s: 2.438rem;
  --fs-hugetext-m: 3.062rem;
  --fs-hugetext-l: 3.812rem;

  /* font-weight */
  --fw-thin: 400;
  --fw-semi: 500;
  --fw-bold: 600;

  /* z index */
  --z-low: -10;
  --z-high: 10;
  --z-highest: 20;

  /* margin bottom */
  --mb-text: 1rem;
  --mb-container: 2rem;
  --mb-section: 4rem;

  /* container width */
  --width-xs: 300px;
  --width-s: 340px;
}
/*----------------------------------------------
------------------------------------------------
    1.  css reset & universal styles
------------------------------------------------
----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--fs-text-s);
  font-weight: var(--fw-thin);
  font-family: var(--font-main);
  color: var(--clr-dark);
  background-color: var(--clr-light);
  line-height: 1.875;
  letter-spacing: 0.875px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----------------------------------------------
------------------------------------------------
    2.  components
------------------------------------------------
----------------------------------------------*/
/*120px = 80px nav bar + 40 margin top & bottom*/
.section__container {
  width: 340px;
  height: minmax(700px, calc(100vh - 120px));
  margin-bottom: 7rem;
  padding-top: 40px;
}
i {
  font-size: 24px;
}

/**
*   label name
*   --------------------
*/
.label__header {
  width: 100%;
  height: 32px;
  border-top: 1.5px solid var(--clr-dark);
}
.label__header-text {
  width: 100px;
  height: 100%;
  color: var(--clr-light);
  background-color: var(--clr-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}
.label__body-bigText {
  font-size: var(--fs-hugetext-s);
}
.label__body-slideTitle {
  font-size: var(--fs-text-xl);
}

/**
*   list square items
*   --------------------
*/
.list__item {
  margin-bottom: 8px;
}
.list__header {
  display: flex;
  align-items: center;
}
.list__title {
  font-weight: 600;
}
.list__hor {
  display: flex;
}
.list__square {
  width: 8px;
  height: 8px;
  background-color: var(--clr-dark);
  margin-right: 16px;
}
.tab_space-mid {
  width: 112px;
  margin-right: 16px;
}
/*----------------------------------------------
------------------------------------------------
    3.  navigation bar
        *   width 340px,  height 60px
------------------------------------------------
----------------------------------------------*/
.nav__bar {
  position: fixed;
  z-index: var(--z-high);
  bottom: 0;

  width: var(--width-s);
  height: 60px;
  border-top: 2px solid var(--clr-dark);
  background-color: var(--clr-light);

  display: flex;
  justify-content: space-between;
}

/**
*   nav link
*   --------------------
*/
.nav__link {
  height: 32px;
  width: 100px;
  background-color: var(--clr-dark);

  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__name {
  color: var(--clr-light);
}
.nav__link-none {
  display: none;
}

/**
*   nav toggle (menu icon)
*   --------------------
*/
.nav__toggle {
  cursor: pointer;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.icon__nav-close {
  display: none;
}
.nav__menu {
  position: fixed;
  z-index: var(--z-high);
  top: 0;
  bottom: 60px;
  transform: translateY(-150%);

  width: 340px;
  padding: 20px 0;
  background-color: var(--clr-light);
  transition: transform 0.45s;
}
.nav__menu-show {
  transform: translateY(0);
}
.nav__menu-img {
  height: 100%;
  padding: 4px;
  background-color: var(--clr-dark);
  display: flex;
}
.nav-menu-img img {
  height: 100%;
  object-fit: cover;
}

/*  nav link inside nav menu*/
.nav__menu-container {
  position: absolute;
  z-index: var(--z-highest);
  bottom: 240px;
  padding-left: 32px;
}
.nav__menu-link {
  height: 72px;
  width: 140px;
}
.nav__menu-name {
  font-size: var(--fs-text-xl);
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
  transition: 0.32s;
}
.nav__menu-name:hover {
  color: var(--clr-theme);
  font-size: var(--fs-text-xxl);
}
/*----------------------------------------------
------------------------------------------------
    4.  home section
------------------------------------------------
----------------------------------------------*/
.home__section {
  height: 800px;
}
.home__info {
  width: 340px;
  margin-bottom: 1rem;
  overflow: hidden;
}
.home__info .label__header {
  display: flex;
  justify-content: space-between;
}
.home__info .label__header .icon__info {
  cursor: pointer;
}
.info__body {
  height: 0;
  width: 300px;
  transition: 0.4s ease;
}
.home__info-show .label__header-text {
  background-color: var(--clr-theme);
  color: var(--clr-dark);
  font-weight: 600;
}
.home__info-show .info__body {
  height: 340px;
}
/**
*   home connect
*   --------------------
*/
.home__connect .info__body {
  width: 320px;
}
.connect__card {
  width: 100%;
  height: 200px;
  margin-top: 16px;

  border: 1.5px solid var(--clr-dark);
  border-top: 16px solid var(--clr-dark);

  display: flex;
  align-items: center;
  justify-content: center;
}
.connect__img-container {
  width: 200px;
  height: 128px;
  margin-right: 16px;
}
.connect__img-container img {
  height: 100%;
  width: 100%;
  filter: grayscale(1);
  object-fit: fill;
}
.connect__socialmedia-container {
  width: 40px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.socialmedia__link {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialmedia__icon i:hover {
  cursor: pointer;
  color: var(--clr-theme);
  transition: 0.4s;
}
.socialmedia__text {
  display: none;
}
/**
*   home hugeimg
*   --------------------
*/
.home__hugeimg-container {
  display: none;
}
/*----------------------------------------------
------------------------------------------------
    5.  studio section
------------------------------------------------
----------------------------------------------*/
.studio__section {
  height: 800px;
}
/**
*   studio about
*   --------------------
*/
.studio__about {
  width: 340px;
  height: 240px;
  margin-bottom: 2rem;
}
.studio__about-header {
  border-top: 8px solid var(--clr-dark);
}
.studio__about-body {
  margin-top: 16px;
}

/**
*   studio slides
*   --------------------
*/
.slide__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  width: 16rem;
  height: 32rem;
  position: relative;
  margin-right: 2rem;
}
.slide__item .label__header {
  width: 100%;
  margin-bottom: 8px;
}
.slide__item .slide__img-container {
  width: 100%;
  height: 22rem;
  margin-bottom: 0.5rem;
}
.slide__item .slide__img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}
.slide__item .slide__img-container .slide__img-info {
  display: none;
}
.slide__item .slide__info {
  width: 100%;
  height: 6rem;
}
/*----------------------------------------------
------------------------------------------------
    6.  gallery section
------------------------------------------------
----------------------------------------------*/
.contact__section {
  height: 800px;
}
/**
*   mail big text
*   --------------------
*/
.mail__container {
  width: 100%;
  height: 256px;
  color: var(--clr-light);
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mail__bigtext {
  font-size: var(--fs-hugetext-l);
}
/**
*   form contact
*   --------------------
*/
.form__info {
  width: 100%;
  height: 22rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.form__container {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__container .form__input {
  display: flex;
  margin-bottom: 16px;
}
.form__container .form__input .input__label {
  width: 100px;
  font-weight: var(--fw-bold);
}
.form__container .form__input .input__ans {
  width: 200px;
  height: 32px;
}
.form__container .form__input .input__ans-big {
  width: 200px;
  height: 64px;
}
.form__container .form__submit {
  align-self: flex-end;
}
.form__container .form__submit input {
  width: 80px;
  padding: 8px 0;
  background-color: var(--clr-theme);
  border: 1px solid var(--clr-dark);
  font-weight: var(--fw-bold);
  transition: 0.45s;
  cursor: pointer;
}
.form__container .form__submit input:hover {
  background-color: var(--clr-light);
}
/**
*   mail contact info
*   --------------------
*/
.mail__info {
  width: 100%;
  height: 128px;
  padding-right: 24px;

  color: var(--clr-light);
  background-color: var(--clr-dark);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.mail__info .mail__item {
  margin: 2px 0;
}
/*----------------------------------------------
------------------------------------------------
    7.  contact section
------------------------------------------------
----------------------------------------------*/

/*----------------------------------------------
------------------------------------------------
    8.  responsive styles
------------------------------------------------
----------------------------------------------*/
@media screen and (min-width: 880px) {
  .section__container {
    width: 800px;
    margin-bottom: 15rem;
  }

  /**
    *   nav bar (880px)
    *   --------------------
    */
  .nav__bar {
    width: 800px;
    margin-bottom: 20px;
    background-color: var(--clr-dark);
    align-items: center;
    justify-content: flex-start;
  }
  .nav__link {
    margin: 0 8px;
  }
  .nav__link-none {
    display: flex;
  }
  .nav__name:hover {
    color: var(--clr-theme);
    transition: 0.45s;
  }
  .nav__toggle,
  .nav__menu {
    display: none;
  }
  /**
    *   home section (880px)
    *   --------------------
    */
  .home__section {
    display: grid;
    grid-template-areas:
      "about experience"
      "connect position";
    gap: 20px;
  }
  .home__info {
    height: 350px;
    margin-bottom: 0;
  }
  .home__experience {
    grid-area: experience;
    justify-self: flex-end;
  }
  .home__position {
    grid-area: position;
    justify-self: flex-end;
  }
  .home__about {
    grid-area: about;
  }
  .home__connect {
    grid-area: connect;
  }
  .icon__info {
    display: none;
  }
  /**
    *   studio section (880px)
    *   --------------------
    */
  .studio__about {
    width: 340px;
  }
  .slides__container {
    height: 512px;
  }
  .slide__item {
    width: 340px;
    height: 100%;
    margin-right: 7rem;
  }
  .slide__item .label__header {
    width: 340px;
  }
  .slide__item .slide__img-container {
    width: 340px;
    height: 400px;
    margin-bottom: 0rem;
    display: flex;
  }
  .slide__item .slide__img-container img {
    padding-bottom: 48px;
    border: 1.5px solid var(--clr-dark);
  }
  .slide__item .slide__info {
    width: 100%;
    height: 5rem;
  }
  .slide__info .label__body {
    margin-top: -3.75rem;
  }
  .slide__info .label__body-slideTitle {
    font-size: var(--fs-hugetext-l);
    font-weight: 600;
  }
  .slide__info .label__body-text {
    margin-top: -1.25rem;
  }
  /**
    *   mail section (880px)
    *   --------------------
    */
  .contact__section {
    display: grid;
    grid-template-areas:
      "mail form"
      "footer form";
    height: 512px;
  }
  .mail__container {
    grid-area: mail;
    height: 400px;
    flex-direction: column;
  }
  .mail__bigtext {
    font-size: 7rem;
  }
  .form__info {
    grid-area: form;
    height: 512px;
    width: 340px;
    justify-self: flex-end;
    border: 1.5px solid var(--clr-dark);
  }
  .form__container .form__input {
    margin-bottom: 16px;
    flex-direction: column;
  }
  .form__container .form__input input {
    border: none;
    color: var(--clr-light);
    background-color: var(--clr-dark);
    padding-left: 16px;
  }
  .form__container .form__input .input__ans {
    width: 272px;
    height: 36px;
  }
  .form__container .form__input .input__ans-big {
    width: 272px;
    height: 112px;
  }
  .form__container .form__submit {
    align-self: flex-end;
    margin: 1rem 1rem 0 0;
  }
  .mail__info {
    grid-area: footer;
    height: 112px;
    padding-right: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .mail__info .mail__item {
    margin: 0px 0px;
  }
}

@media screen and (min-width: 1280px) {
  .section__container {
    width: 1200px;
    margin-bottom: 10rem;
  }
  .nav__bar {
    width: 340px;
    height: 48px;
    justify-content: center;
  }
  .nav__link {
    margin: 0 10px;
  }
  /**
    *   home section (1280)
    *   --------------------
    */
  .home__section {
    grid-template-areas:
      "about    hugeimg     experience"
      "connect  hugeimg     position";
    gap: 50px;
  }
  .home__hugeimg-container {
    grid-area: hugeimg;
    display: block;
    width: 340px;
    height: 100%;
    padding: 4px;
    justify-self: center;
    background-color: var(--clr-dark);
  }
  .home__hugeimg-container img {
    height: 100%;
    object-fit: cover;
  }
  /**
    *   studio section (1280)
    *   --------------------
    */
  .studio__section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 128px;
  }
  .studio__about {
    height: 320px;
    margin-right: 90px;
    margin-bottom: 0;
    padding-left: 16px;
    border-left: 1.5px solid var(--clr-dark);
    border-top: 16px solid var(--clr-theme);
  }
  .studio__about-header {
    height: 160px;
  }
  .studio__about-body {
    width: 340px;
    height: 112px;
    margin-top: 0;
  }
  .slides__container {
    height: 608px;
  }
  .slide__item {
    margin-right: 8px;
    width: 608px;
  }
  .slide__item .slide__img-container {
    height: 500px;
  }
  .slide__img-container img {
    width: 340px;
    height: 500px;
    padding-bottom: 50px;
  }
  .slide__item .slide__img-container .slide__img-info {
    display: block;
    margin: 3rem;
  }
  .slide__img-info .list__title {
    width: 128px;
  }
  .slide__view {
    width: 96px;
    font-size: var(--fs-text-m);
    font-weight: 600;
    margin-top: 16px;
    border-bottom: 1.5px solid var(--clr-dark);
  }
  .icon__slide-view {
    margin-right: 8px;
    transition: 0.4s;
  }
  .slide__view:hover .icon__slide-view {
    margin-left: 8px;
  }
  .slide__item .slide__info {
    width: 340px;
  }
  /**
    *   mail section (1280px)
    *   --------------------
    */
  .contact__section {
    display: grid;
    grid-template-areas:
      "mail form"
      "footer footer";
    height: 720px;
    margin-bottom: 12rem;
  }
  .mail__container {
    grid-area: mail;
    width: 100%;
    height: 600px;
    flex-direction: row;
  }
  .form__info {
    grid-area: form;
    width: 100%;
    height: 600px;
  }
  .form__container {
    width: 432px;
  }
  .form__container .form__input {
    margin-bottom: 32px;
    flex-direction: row;
  }
  .form__container .form__input .input__ans {
    width: 320px;
    height: 48px;
  }
  .form__container .form__input .input__ans-big {
    width: 320px;
    height: 144px;
  }
  .form__container .form__submit {
    margin: 0 8px 0 0;
  }
  .mail__info {
    grid-area: footer;
    height: 100px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .mail__info .mail__item {
    margin: 0px 48px;
  }
}
